<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>KnowYourJMI</title>
    <link rel='icon' href="https://media.glassdoor.com/sqll/490132/jmi-reports-squarelogo-1424957953248.png">
    {# apni css #}
    <link rel="stylesheet" href="{% static "css/master.css" %}">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

{# js and jQuery #}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

{# font #}
<link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">KYJ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'students:students' %}">
          Students
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:logout' %}">
          Logout
        </a>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'students:studentlist' %}">
          Students
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:login' %}">
          Login
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'accounts:signup' %}">
            Signup
        </a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav>
  {% block content %}

  {% endblock %}
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-sm-2">
        <p>follow us on: </p><br>
      </div>
     <div class="col-sm-2">
       <a href="https://www.instagram.com" target="_blank"><img src="https://logonoid.com/images/instagram-logo.png" alt="IG" width="20"></a>
     </div>
     <div class="col-sm-2">
       <a href="https://www.linkedin.com" target="_blank"><img src="https://image.flaticon.com/icons/png/512/124/124011.png" alt="linkedIn" width="20"></a>
     </div>
     <div class="col-sm-2">
       <a href="https://tweeter.com" target="_blank"><img src="https://blog.bitmex.com/wp-content/uploads/2018/10/kisspng-social-media-iphone-organization-logo-twitter-5abe3024502f30.2043853815224136043284.jpg" alt="Tweeter" width="20"></a>
     </div>
   </div>
 </div>
  </body>
</html>
